.myHeader {
  background: #fafafa;
  text-align: center;

  h1 {
    font-size: 32px;
    margin: 0;
    padding: .6em 0;
  }
}

@media (min-width: 576px) {
  .myHeader {

    h1 {
      font-size: 46px;
      padding: .8em 0;
    }
  }
}
