.aboutMe {
    display: flex;
    width: 1140px;
    padding: 0 15px;
    margin: 20px auto;
}

.avatar img {
    width: 140px;
    height: 140px;
    margin-right: 40px;
    border-radius: 9999px;
}

.info {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.info h1,
.info h2 {
    margin: 5px 0;
}

.info h1 {
    font-size: 52px;
    font-weight: 900;
}

.info h2 {
    font-size: 32px;
    color: #999;
}

.info ul {
    display: flex;
    margin: 10px 0;
    padding: 0;
    list-style: none;
    font-size: 22px;
}

.info ul a {
    color: #000;
}
