.repos {
  font-size: 24px;
}

.reposList {
  list-style: none;
  padding: 0;
}

.reposListItem {
  text-align: center;
  margin: 30px 0;

  & > a {
    color: #333;
    text-decoration: none;
    font-weight: 500;
  }
}

.repoDescription {
  font-size: 14px;
  display: block;
  color: #666;
  line-height: 1.4;
  margin-top: 10px;

  a {
    color: #666;
    text-decoration: underline;
  }
}

@media (min-width: 576px) {
  .repos {
    font-size: 40px;
  }

  .reposListItem {
    margin: 30px 0;
  }

  .repoDescription {
    font-size: 18px;
    line-height: 1.4;
    margin-top: 10px;
  }
}
