.mainFlexItem {
  flex-grow: 2;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
