.header {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
}

.logo a {
    font-size: 24px;
    font-weight: 900;
    text-decoration: none;
    color: #333;
}

.menu {
    ul {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 8px 0;

        li {
            margin: 0 0 0 .6em;
            line-height: 1;

            a {
                text-decoration: none;
                color: #666;
                transition: color .3s ease;
                font-size: 12px;

                &:hover {
                    color: #000;
                }
            }
        }
    }
}

@media (min-width: 576px) {
    .logo a {
        font-size: 32px;
    }

    .menu {
        ul {

            li {
                margin: 0 0 0 1em;

                a {
                    font-size: 14px;
                }
            }
        }
    }
}
